<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @dashboard.query %>
</p>

<p>
  <strong>Priorities json:</strong>
  <%= @dashboard.priorities_json %>
</p>

<h2>Priority</h2>

<%= react_component('Issues', issues: @issues, dashboardId: @dashboard.id) %>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
