<p id="notice"><%= notice %></p>

<h2><%= @dashboard.name %></h2>

<%= react_component('Issues', issues: @issues, dashboardId: @dashboard.id) %>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
