<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @dashboard.query %>
</p>

<p>
  <strong>Priorities json:</strong>
  <%= @dashboard.priorities_json %>
</p>

<h2>Unprioritized</h2>

<%= react_component('Issues', issues: @unprioritized_issues) %>

<h2>Prioritized</h2>

<%= react_component('Issues', issues: @prioritized_issues) %>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
